.toolbar {
  border-bottom: 1px solid black;
  margin-top: 80px;
  ul {
    list-style: none;
    display: flex;

    li {
      font-size: 15px;
      margin-right: 7px;
    }
  }
}

.product-list {
  display: flex;
  flex-direction: column;
  // max-width: 1200px;
  // padding: 0 25px;
  margin: 0 25px;
}

.toolbar {
  // padding-top: 150px;
  
}