@import '../../global.scss';
.toolbar {
  border-bottom: 1px solid $black-color;
  margin: 80px 15px 0;
  ul {
    list-style: none;
    display: flex;

    li {
      font-size: 15px;
      margin-right: 7px;
    }
  }
}

.sort-select {
  font-size: 20px;
  font-weight: 700;
}

.selected {
  text-decoration: underline;
}

.product-list {
  display: flex;
  flex-direction: column;
  // max-width: 1200px;
  // padding: 0 25px;
  margin: 0 25px;
}