.product {
  border-bottom: 2px dotted #343536;
  padding-bottom: 50px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-display {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  img {
    height: 300px;
    width: 250px;
    object-fit: contain;
  }
}

.product-info {
  flex: 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 30px;
}

.product-info-title {
  // text-align: left;
  font-size: 1.5em;
}

.product-info-description {
  font-size: 0.7em;
}

.product-info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-button {
    button {
      border-radius: 8px;
      border: 1px solid red;
      background-color: #eee;
      font-size: 1.2em;
      padding: 1em 3.5em;
      color: red;
      cursor: pointer;
    }
  }

  .multiple {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-price {
    font-size: 1.7em;
  }
}