.product {
  border-bottom: 2px dotted #343536;
  padding-bottom: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.product-display {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-left: 30px;
  img {
    height: 300px;
    width: 250px;
    object-fit: contain;
  }
}

.product-info-title {
  // text-align: left;
  font-size: 1.5em;
}

.product-info-description {
  font-size: 0.7em;
  padding: 15px 0;
}

.product-info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-button {
    width: 25 0px;
    height: 55px;
    width: 200px;
    button {
      height: 100%;
      width: 100%;
      border-radius: 8px;
      border: none;

      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      // padding: 1em 3.5em;
      color: red;
      cursor: pointer;
      width: 100%;
    }
  }

  .multiple {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      flex: 1;
      font-size: 1.5em;
    }

    div {
      flex: 1;
      text-align: center;
      span {
        font-size: 1.5em;
      }
    }
  }

  &-price {
    font-size: 1.3em;
  }
}
