.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.content-limit {
  /* height: 100vh; */
  /* overflow: hidden;
  position: absolute; */
}

/* .background {
  background: #000;
}

.background svg {
  position: relative;
  width: 50%;
  height: 50%;
  z-index: 0;
} */